<div>
    <h1 class="center">Content Projection Demo</h1>
    <table>
        <tr>
            <th>Projection Type</th>
            <th>Output</th>
        </tr>
        <tr>
            <td>Single-Slot content Projection</td>
            <td>
                <app-content-projection-child>First Button</app-content-projection-child>
                <!-- <app-content-projection-child>Second Button</app-content-projection-child> -->
            </td>
        </tr>
        <!-- <tr>
            <td>Multi-Slot content Projection</td>
            <td>
                <app-content-projection-child>
                    <div class="button1">FIRST PROJECTION</div>
                    <div class="button2">SECOND PROJECTION</div>
                    <div class="button3">THIRD PROJECTION</div>
                </app-content-projection-child>
            </td>
        </tr> -->
    </table>
</div>