<div class="firstDemo">
    <button mat-flat-button color="primary">
        <ng-content></ng-content>
    </button>
</div>
<!-- 
<div class="secondDemo">
    <div>
        <button mat-flat-button color="primary">
            <ng-content select=".button1"></ng-content>
        </button>
    </div>
    <div>
        <button mat-flat-button color="warn">
            <ng-content select=".button2"></ng-content>
        </button>
    </div>
    <div>
        <button mat-flat-button color="accent">
            <ng-content select=".button3"></ng-content>
        </button>
    </div>
</div> -->
